@import "./utils/variables";
@import "./utils/common";
@import "./sections/header";
@import "./sections/hero";
@import "./sections/hero-features";
@import "./sections/main-activity";
@import "./sections/main-team";
@import "./sections/regular-clients";
@import "./sections/footer";
@import "./utils/modal";
 
