footer {
  background-color: $color-footer-bg;
  color: $color-white;
  padding: 40px 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  gap: 90px;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__address {
    color: $color-white;
    font-style: normal;
  }

  &__location {
    display: block;
    font-weight: 400;
  }

  &__email,
  &__phone {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-accent;
    }
  }

  &__social,
  &__subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
  }

  &__title {
    color: $color-white;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
  }

  &__social-list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__social-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $color-accent;
    }
  }

  &__social-icon {
    width: 20px;
    height: 20px;
    fill: $color-white;
    opacity: 0.7;
    transition: 0.3s;
  }

  &__social-link:hover &__social-icon {
    fill: $color-white;
    opacity: 1;
  }

  &__form {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__input {
    width: 358px;
    height: 50px;
    padding: 0 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $color-footer-bg;
    color: $color-white;
    font-size: 16px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: $color-accent;
    color: $color-white;
    border: none;
    padding: 10px 28px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #188CE8;
      background-color: #1881f8e1;
    }
  }
}

.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  & {
    max-width: 528px;
    width: 100%;
    position: relative;
    background: white;
    padding: 40px;
    border-radius: 4px;
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: white;
    cursor: pointer;

    &:hover {
      fill: rgb(90, 88, 88);
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: $color-primary-text;
  }
}

.form {
  &__group {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    color: $color-secondary-text;
  }

  &__input,
  &__textarea {
    max-width: 448px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 14px;

    &:focus {
      outline: none;
      border-color: $color-accent;
    }
  }

  &__textarea {
    height: 120px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__submit {
    width: 100%;
    background-color: $color-accent;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: #188CE8;
    }
  }
}

.checkbox {
  &__input {
    margin-right: 8px;
  }

  &__label {
    font-size: 14px;
    color: $color-secondary-text;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.navigation__link--active:hover {
  color: $color-accent;
}

.navigation__link:hover {
  color: $color-accent;
}

.hero__button:hover {
  background-color: rgb(39, 138, 219);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}