.header-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 350px;
  padding: 0;
  text-decoration: none;
  gap: 40px;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list-link-blue {
  color: var(--color-accent);
  font-weight: 500;
  text-decoration: none;
  margin-left: 60px;
  margin: 0px auto;
  list-style: none;
  position:relative;
}

.nav-list-link {
  color: #212121;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-list-link-blue::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -31px;
    background-color: rgba(33, 150, 243, 1);
    max-width: 48px;
    width: 100%;
    height: 4px;
    border-radius: 3px;
}

.header-section-contact {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  white-space: nowrap;
}

.header-section-email {
  color: var(--color-secondary-text);
  cursor: pointer;
}

.header-section-phone {
  color: var(--color-secondary-text);
  cursor: pointer;
}

.mail-item {
  fill: var(--color-secondary-text);
  width: 16px;
  height: 12px;
}

.phone-item {
  fill: var(--color-secondary-text);
  width: 10px;
  height: 16px;
}

.header-section-email:hover,
.mail-item:hover {
  fill: var(--color-accent);
  color: var(--color-accent);
}

.header-section-phone:hover,
.phone-item:hover {
  fill: var(--color-accent);
  color: #2196f3;
}

.header-section-email,
.header-section-phone,
.mail-item,
.phone-item {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;

}

.logo-blue {
  color: var(--color-accent);
}
