.header {
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation {
  &__list {
    display: flex;
    list-style: none;
    margin-right: 350px;
    padding: 0;
    text-decoration: none;
    gap: 40px;
  }

  &__item {
    margin-left: 20px;
  }

  &__link {
    color: $color-primary-text;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &--active {
      color: $color-accent;
      font-weight: 500;
      text-decoration: none;
      margin-left: 60px;
      margin: 0px auto;
      list-style: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -31px;
        background-color: $color-accent;
        max-width: 48px;
        width: 100%;
        height: 4px;
        border-radius: 3px;
      }
    }

    &:hover {
      color: $color-accent;
    }
  }
}

.header {
  &__contacts {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    white-space: nowrap;
  }

  &__email,
  &__phone {
    color: $color-secondary-text;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $color-accent;
    }
  }

  &__icon {
    fill: $color-secondary-text;
    width: 16px;
    height: 12px;
    transition: fill 0.2s ease-in-out;

    &:hover {
      fill: $color-accent;
    }

    &--mail {
      width: 16px;
      height: 12px;
    }

    &--phone {
      width: 10px;
      height: 16px;
    }
  }
}

.logo {
  font-family: $font-family-secondary;
  font-weight: 700;
  animation: bounce 1.2s ease-in-out;

  &__part {
    &--blue {
      color: $color-accent;
    }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}