.hero {
  background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 44px;
}

.hero-button {
  margin-top: 20px;
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  cursor: pointer;
}

.hero-button:hover {
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
      color: #f5f4fa;
      background-color: #1881f8e1;
}
