.main-team .container {
  margin-top: 50px;
}

.main-team {
  padding-bottom: 100px;
  background-color: var(--color-light-bg);
}

.main-team-title {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 100px;
  color: #212121;
  font-weight: 700;
}

.main-team-members {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-member {
  width: 270px;
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 4px;
}

.team-member-photo {
  width: 270px;
  height: 260px;
}

.team-member-role {
  color: #757575;
}

.social-icons {
  margin-top: 16px;
  margin-bottom: 30px;
}

.social-networks {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-white);
  fill: var(--color-svg-icon);
  transition: background-color 0.3s ease, fill 0.3s ease;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.social-link:hover {
  background-color: var(--color-accent);
  fill: var(--color-white);
}