.activities {
  & .container {
    margin-top: 50px;
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
  }

  &__image {
    width: 370px;
    height: 294px;
  }

  &__label {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 370px;
    height: 70px;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
  }

  &__description {
    color: var(--color-white);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 27px;
  }
}