.main-activity .container {
  margin-top: 50px;
}

.main-activity-title {
  text-align: center;
  margin-bottom: 30px;
}

.main-activity-items {
  display: flex;
  justify-content: space-between;
}

.main-activity-img {
  width: 370px;
  height: 294px;
}

.activity-label {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 370px;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
}

.activity-p-list-items {
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-top: 27px;
}

.main-activity-item {
  position: relative;
}