.team {
  padding-bottom: 100px;
  background-color: $color-light-bg;

  & .container {
    margin-top: 50px;
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 100px;
    color: $color-primary-text;
    font-weight: 700;
  }

  &__members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    width: 270px;
    text-align: center;
    margin-bottom: 30px;
    background-color: $color-white;
    border: 1px solid $color-white;
    border-radius: 4px;
  }

  &__photo {
    width: 270px;
    height: 260px;
  }

  &__role {
    color: $color-secondary-text;
  }
}

.social {
  margin-top: 16px;
  margin-bottom: 30px;

  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    width: 44px;
    height: 44px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $color-white;
    fill: $color-svg-icon;
    transition: background-color 0.3s ease, fill 0.3s ease;

    &:hover {
      background-color: $color-accent;
      fill: $color-white;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}