.clients {
  padding: 94px;

  &__title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: $color-primary-text;
    margin-bottom: 50px;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  &__item {
    width: 170px;
    height: 92px;
    border: 1px solid $color-svg-icon;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: $color-accent;
    }
  }

  &__icon {
    display: inline-block;
    width: 106px;
    height: 60px;
    fill: $color-svg-icon;
    transition: fill 0.4s ease;

    &:hover {
      fill: $color-accent;
    }
  }
}