:root {
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-bg: #f5f4fa;
  --color-footer-bg: #2f303a;
  --color-accent: #2196f3;
  --color-footer-text: rgba(255, 255, 255, 0.6);
  --color-svg-icon: #AFB1B8;
}